/*
BASICOS

etiqueta
elemento {
    propiedad: valor;
}

.clase {
    propiedad: valor;
}

#id {
    propiedad: valor
}

*/

/*CSS RESET*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

h2 {
    color: red;
}

#titulo_h3 {
    background-color: green;
}

.blue {
    background-color: blue;
}

.border {
    border: 1px solid black;
}

#titulo_h5 {
    text-transform: uppercase;   
}
/*Seleccionamos el elemento que se encuentra dentro del primer elemento*/
.contenedor p { 
    color: green;
}

.contenedor {
    width: 300px;
}

/*Solo aquellos elementos que se encuentran un nivel abajo*/
.contenedor2 > p {
    color: purple;
}

/*Ambas selecciones deben de cumplirse para el elemento*/
p.blue {
    color: lightblue;
}

input[type="text"] {
    width: 350px;
}

input[type="number"] {
    height: 50px;
}

#id_terminos {
    width: 100px;
    height: 50px;
}

input, textarea {
    border: 3px solid magenta;
}

.blue, .border, input, h2, h5 {
    text-align: center;
}

/*TEXTO*/
#parrafo_ejemplo {
    text-align: right; /*left, right, center, justify*/
    text-decoration: underline; /*underline, line-through, none, overline*/
    font-style: italic; 
    /*PENDIENTE*/
    font-family: sans-serif;
    font-size: 20px;
}

/*TAMAÑO*/
.pruebas_tamanos {
    background-color: gray;
    width: 500px;
    height: 60px;
}

.div_background {
    width: 400px; /*px % vw */
    height: 600px;
    border: 1px solid black; /*tamaño linea color*/
    background-color: aqua;
    background-image: url(../images/gatito_small.jpg);
    background-size: 100%; /*auto: tamaño original; cover: estirar verticalmente; 100% estirar horizontalmente*/
    background-repeat: no-repeat;
}

.contenedor2 > p {
    border: 3px solid green;
}

p {
    color: red;
}

.box_model {
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
    margin: 10px; /*Margen a los 4 lados*/
    /*margin: 10px 100px - ArribaAbajo IzqDer*/
    /*margin: Arr Der Abaj Izq */
    margin-left: 100px;
    /*margin-top, margin-right, margin-bottom, margin-left*/
    padding: 20px;
    border: 2px solid black;
    /*Cosas que no son de box model*/
    margin: 10px auto;
    /* border-radius: 50%; */
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 5px;
}

.tamano1 {
    background-color: gray;
    width: 600px;
    height: 50px;
    border: 1px solid white;
    overflow: hidden; /*scroll*/
}

.prueba_overflow {
    background-color: black;
    width: 400px;
    height: 60px;
}

.inline {
    display: inline; /*Me despliega los elementos en una sola línea. PERO no puedo dar tamaño*/
}

.block {
    display: block; /*Me despliega los elementos como bloque, es decir que NO puede haber nada en ese espacio/fila*/
}

.inline-block {
    display: inline-block;
    width: 300px;
    border: 1px solid black;
    vertical-align: middle;
}

#div1 {
    width: 100px;
    height: 150px;
}

#div2 {
    height: 300px;
}

#div3 {
    height: 80px;
}

